
* {
    outline: 2.3px solid #000026;
}

body {
    background: #ebe9e9;
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

.container {
    background: #043174;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background: #001370;
    flex-grow: 1;
}

nav, aside {
    background: #2135b9;
    flex-grow: 2;
}

main {
    background: #4266d2;
    flex-grow: 5;
    min-height: 65vh;
}


@media(min-width: 600px) {

    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header, footer {
        width: 100vw;
    }

    main {
        width: 60vw;
    }

    aside, nav {
        width: 15vw;
    }

}